/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* line 5, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, .content-table th,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td, .content-table th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* line 16, ../sass/screen.scss */
body .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 10px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 27, ../sass/screen.scss */
body .wrapper .divBlock {
  display: block;
  padding: 10px;
}
/* line 31, ../sass/screen.scss */
body .wrapper .formContent {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  padding: 30px;
  width: 100%;
  position: relative;
  padding: 0;
  -moz-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 5px;
}
/* line 43, ../sass/screen.scss */
body .wrapper .formContent .hiddenDiv {
  display: none;
}
/* line 46, ../sass/screen.scss */
body .wrapper .formContent h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #009879;
}
/* line 54, ../sass/screen.scss */
body .wrapper .formContent h2.active {
  color: #009879;
  border-bottom: 1px solid #009879;
  font-size: 16px;
}
/* line 60, ../sass/screen.scss */
body .wrapper .formContent input[type=text], body .wrapper .formContent input[type=date], body .wrapper .formContent input[type=password], body .wrapper .formContent input[type=number], body .wrapper .formContent select {
  outline: none;
  background-color: #fff;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  height: 60px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #E8EAED;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 75, ../sass/screen.scss */
body .wrapper .formContent input[type=text]:focus, body .wrapper .formContent input[type=date]:focus, body .wrapper .formContent input[type=password]:focus, body .wrapper .formContent input[type=number]:focus, body .wrapper .formContent select:focus {
  background-color: #fff;
  border-bottom: 2px solid #009879;
}
/* line 79, ../sass/screen.scss */
body .wrapper .formContent input[type=text]:placeholder, body .wrapper .formContent input[type=date]:placeholder, body .wrapper .formContent input[type=password]:placeholder, body .wrapper .formContent input[type=number]:placeholder, body .wrapper .formContent select:placeholder {
  color: #cccccc;
}
/* line 86, ../sass/screen.scss */
body .wrapper .formContent label {
  display: none;
}
/* line 90, ../sass/screen.scss */
body .wrapper .formContent .form-group {
  padding: 0;
  margin: 0;
}
/* line 93, ../sass/screen.scss */
body .wrapper .formContent .form-group ul {
  color: red;
  white-space: nowrap;
  text-align: left;
  margin-left: 14vh;
}
@media screen and (max-width: 992px) {
  /* line 117, ../sass/screen.scss */
  body .wrapper .formContent .form-group div ul {
    margin-left: 9vh;
    white-space: nowrap;
  }
}
/* line 133, ../sass/screen.scss */
body input[type=submit], body form button, body .a-nav {
  background-color: #009879;
  border: none;
  color: white;
  padding: 15px;
  width: auto;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 3px 15px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 20px;
}
/* line 152, ../sass/screen.scss */
body form button {
  padding: 8px;
  margin: 0;
}
/* line 157, ../sass/screen.scss */
body form select {
  outline: none;
  background-color: #fff;
  border: none;
  color: #0d0d0d;
  height: 40px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 25%;
  border: 2px solid #E8EAED;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 170, ../sass/screen.scss */
body form select:focus {
  background-color: #fff;
  border-bottom: 2px solid #009879;
}
/* line 174, ../sass/screen.scss */
body form select:placeholder {
  color: #cccccc;
}
@media screen and (max-width: 404px) {
  /* line 179, ../sass/screen.scss */
  body form label {
    display: block;
    margin-top: 1%;
  }
  /* line 183, ../sass/screen.scss */
  body form button {
    width: 100%;
    margin-top: 3%;
  }
  /* line 187, ../sass/screen.scss */
  body form select {
    width: 100%;
    margin-top: 1.5%;
  }
}
/* line 194, ../sass/screen.scss */
body .a-nav {
  margin: 0;
  padding: 10px;
}
/* line 198, ../sass/screen.scss */
body .a-nav:hover {
  background-color: #009879;
}
@media screen and (max-width: 404px) {
  /* line 194, ../sass/screen.scss */
  body .a-nav {
    width: 93%;
    margin-bottom: 3%;
  }
}
/* line 208, ../sass/screen.scss */
body nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 76px;
  background: #009879;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
/* line 217, ../sass/screen.scss */
body nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0;
}
/* line 223, ../sass/screen.scss */
body nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}
@media (max-width: 370px) {
  /* line 223, ../sass/screen.scss */
  body nav .navbar .nav-links {
    max-width: 100%;
  }
}
/* line 230, ../sass/screen.scss */
body nav .navbar .links {
  display: flex;
}
/* line 232, ../sass/screen.scss */
body nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
/* line 239, ../sass/screen.scss */
body nav .navbar .links li:hover .htmlCss-sub-menu,
body nav .navbar .links li .js-sub-menu {
  display: block;
}
/* line 243, ../sass/screen.scss */
body nav .navbar .links li:hover .htmlcss-arrow, body nav .navbar .links li .js-arrow {
  transform: rotate(180deg);
}
/* line 248, ../sass/screen.scss */
body nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
/* line 256, ../sass/screen.scss */
body nav .navbar .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
/* line 265, ../sass/screen.scss */
body nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #009879;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
/* line 275, ../sass/screen.scss */
body nav .navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 279, ../sass/screen.scss */
body nav .navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
/* line 284, ../sass/screen.scss */
body nav .navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}
/* line 287, ../sass/screen.scss */
body nav .navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
/* line 295, ../sass/screen.scss */
body nav .navbar .links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
/* line 302, ../sass/screen.scss */
body nav .navbar .search-box {
  position: relative;
  height: 40px;
  width: 100px;
}
/* line 307, ../sass/screen.scss */
body nav .navbar .search-box a {
  margin-left: 6%;
}
/* line 309, ../sass/screen.scss */
body nav .navbar .search-box a:hover {
  color: #fff;
}
/* line 313, ../sass/screen.scss */
body nav .navbar .search-box i {
  position: absolute;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* line 323, ../sass/screen.scss */
body nav .navbar .search-box .input-box {
  position: relative;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 0;
  background: #009879;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
/* line 336, ../sass/screen.scss */
body nav .navbar.showInput .search-box .input-box {
  top: 41px;
  opacity: 1;
  pointer-events: auto;
  background: #009879;
}
/* line 342, ../sass/screen.scss */
body nav .navbar .bx-menu {
  cursor: pointer;
  display: none;
}
@media (max-width: 920px) {
  /* line 347, ../sass/screen.scss */
  body nav .navbar .navbar {
    max-width: 100%;
    padding: 0 25px;
  }
  /* line 352, ../sass/screen.scss */
  body nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  /* line 356, ../sass/screen.scss */
  body nav .navbar .links a {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  /* line 362, ../sass/screen.scss */
  body nav .navbar .bx-menu {
    display: block;
    font-size: 40px;
    margin-left: 5px;
    color: #fff;
  }
  /* line 368, ../sass/screen.scss */
  body nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #009879;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  /* line 381, ../sass/screen.scss */
  body nav .navbar .nav-links .links {
    display: block;
    margin-top: 20px;
  }
  /* line 385, ../sass/screen.scss */
  body nav .navbar .nav-links .links li {
    display: block;
  }
  /* line 387, ../sass/screen.scss */
  body nav .navbar .nav-links .links li .arrow {
    line-height: 40px;
  }
  /* line 390, ../sass/screen.scss */
  body nav .navbar .nav-links .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: block;
  }
  /* line 395, ../sass/screen.scss */
  body nav .navbar .nav-links .links li .sub-menu li {
    border-bottom: none;
  }
  /* line 398, ../sass/screen.scss */
  body nav .navbar .nav-links .links li .sub-menu .more-sub-menu {
    display: block;
    position: relative;
    left: 0;
  }
  /* line 402, ../sass/screen.scss */
  body nav .navbar .nav-links .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* line 409, ../sass/screen.scss */
  body nav .navbar .nav-links .links li .sub-menu .more span {
    display: flex;
    align-items: center;
  }
  /* line 413, ../sass/screen.scss */
  body nav .navbar .nav-links .links li .sub-menu .more:hover .more-sub-menu {
    display: block;
  }
  /* line 418, ../sass/screen.scss */
  body nav .navbar .nav-links .links li:hover .htmlcss-arrow, body nav .navbar .nav-links .links li:hover.js-arrow {
    transform: rotate(0deg);
  }
  /* line 421, ../sass/screen.scss */
  body nav .navbar .nav-links .links li .htmlCss-sub-menu,
  body nav .navbar .nav-links .links li .js-sub-menu {
    display: block;
  }
  /* line 427, ../sass/screen.scss */
  body nav .navbar .nav-links.show1 .links .htmlCss-sub-menu, body nav .navbar .nav-links.show3 .links .js-sub-menu, body nav .navbar .nav-links.show2 .more .more-sub-menu {
    display: block;
  }
  /* line 430, ../sass/screen.scss */
  body nav .navbar .nav-links.show1 .links .htmlcss-arrow, body nav .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  /* line 433, ../sass/screen.scss */
  body nav .navbar .nav-links.show2 .links .js-arrow {
    transform: rotate(90deg);
  }
}

/* line 444, ../sass/screen.scss */
.content-table {
  border-collapse: border;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 90%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  overflow: auto;
}
/* line 455, ../sass/screen.scss */
.content-table td, .content-table th {
  padding: 18px 20px;
  text-align: center;
  white-space: nowrap;
}
/* line 459, ../sass/screen.scss */
.content-table td a, .content-table th a {
  white-space: nowrap;
  text-decoration: none;
  color: #000;
}
/* line 463, ../sass/screen.scss */
.content-table td a:hover, .content-table th a:hover {
  color: #009879;
}
/* line 469, ../sass/screen.scss */
.content-table thead tr {
  background-color: #009879;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
/* line 478, ../sass/screen.scss */
.content-table tbody tr {
  border-bottom: 2px solid #dddddd;
}
/* line 480, ../sass/screen.scss */
.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
/* line 484, ../sass/screen.scss */
.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
/* line 487, ../sass/screen.scss */
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
/* line 492, ../sass/screen.scss */
.content-table th {
  white-space: nowrap;
}

/* line 498, ../sass/screen.scss */
.pagination {
  overflow: auto;
  justify-content: center;
}
/* line 502, ../sass/screen.scss */
.pagination a {
  font-weight: bold;
  font-size: 18px;
  color: #009879;
  padding: 8px 16px;
  margin-left: 7px;
  text-decoration: none;
  border: 1px solid #009879;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}
/* line 515, ../sass/screen.scss */
.pagination.active {
  background-color: #152032;
  color: #fff;
}
/* line 519, ../sass/screen.scss */
.pagination a:hover:not(.active) {
  background-color: #009879;
  color: #fff;
  border: 1px solid #009879;
}
